2461445acba26d38/flows.json
[{"id":"2461445acba26d38","type":"tab","label":"流程 1","disabled":false,"info":"","env":[]},{"id":"9f35bbed913fedb8","type":"inject","z":"2461445acba26d38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":160,"wires":[["01b13ab17c4bb52c"]]},{"id":"717ec7e61b0034c7","type":"debug","z":"2461445acba26d38","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":160,"wires":[]},{"id":"01b13ab17c4bb52c","type":"function","z":"2461445acba26d38","name":"function 1","func":"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":240,"wires":[["717ec7e61b0034c7"]]}]