015279e85bdc1844/flows.json
[{"id":"015279e85bdc1844","type":"tab","label":"流程 2","disabled":false,"info":"","env":[]},{"id":"c2bc526150af51b9","type":"inject","z":"015279e85bdc1844","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":260,"wires":[["3c86119b1f764f2a"]]},{"id":"48a945f3dd0247a5","type":"debug","z":"015279e85bdc1844","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":260,"wires":[]},{"id":"17b71d72fe50000f","type":"catch","z":"015279e85bdc1844","name":"","scope":null,"uncaught":false,"x":340,"y":460,"wires":[[]]},{"id":"3c86119b1f764f2a","type":"change","z":"015279e85bdc1844","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":260,"wires":[["48a945f3dd0247a5"]]}]